[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
distro = "*"
pyyaml = "*"
types-pyyaml = "*"
python-lsp-server = {extras = ["all"], version = "*"}
pylsp-mypy = "*"
pyre-check = "*"

[dev-packages]

[requires]
python_version = "3.9"
